@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    box-sizing: border-box;
}
body{
    background-image: url('CountDown-Timer-Image.jpg');    
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: normal;
    font-size: 4rem;
    margin-top: 5rem;
}
.countdown-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.big-text{
    font-weight: bolder;
    font-size: 6rem;
    line-height: 1;
    margin: 1rem 2rem;
}
.countdown-element{
    text-align: center;
}
.countdown-element span{
    font-size: 1.5rem;
}