@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    box-sizing: border-box;
}
body{
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    min-height: 100vh;
}
canvas {
    border: 1px solid rebeccapurple;
}
.toolbox {
    background-color: rebeccapurple;
    border: 1px solid rebeccapurple;
    display: flex;
    width: 804px;
    padding: 1rem;
}
.toolbox > * {
    background-color: #fff;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    padding: 0.25rem;
    width: 50px;
    height: 50px;
}
.toolbox > *:last-child {
    margin-left: auto;
}